{% extends 'base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-4">Вхід</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3 text-start">
                        <label>Логін</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label>Пароль</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Увійти</button>
                </form>
                <div class="text-end mb-1">
                    <a href="{% url 'password_reset' %}"
                       class="text-warning text-decoration-none small opacity-75 hover-opacity-100">
                        <i class="fas fa-key me-1" style="font-size: 0.7rem;"></i> Забули пароль?
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}